:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10rem;
  align-items: center;
}

.header-div {
  background-image: url("https://i.pinimg.com/originals/41/08/2f/41082f1404155931315ea4e775a9a479.jpg");
  width: 100%;
  min-height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.header-div h1 {
  margin-top: 10vh;
  z-index: 2;
}

.header-div h3 {
  margin-top: 4vh;
}

.header-div h1,
p,
h3 {
  position: relative;
  color: white;
  font-weight: bold;
  z-index: 2;
}

.header-div .flex,
h3,
button {
  position: relative;
  z-index: 2;
}

.header-div button {
  width: 150px;
  align-self: center;
}

#discover-more {
  width: 200px;
  align-self: center;
  background-color: rgb(40, 197, 40);
  font-weight: bold;
}

.breeds-div h1 {
  color: white;
}

.facts-wrapper {
  background-color: var(--third-background-color);
  width: 100%;
}

h1 {
  text-align: center;
}
