<div class="flex gap-2">
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact class="highlight"></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
</div>
