:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 75px - 168px);
  gap: 3rem;
}

app-dogs-fact {
  flex-shrink: 0;
  transition: all 0.3s ease, transform 0.3s ease;
  min-height: auto;
}

.highlight {
  transform: scale(1.4);
}
@media (max-width: 650px) {
  :host {
    gap: 1rem;
  }

  app-dogs-fact {
    max-width: 300px;
  }

  @media (max-width: 450px) {
    :host {
      gap: 0.5rem;
    }

    app-dogs-fact {
      max-width: 200px;
    }
  }
}
