:host {
  width: 100%;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper-div {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
  justify-content: space-between;
}

.links-div {
  gap: 4rem;
  align-items: center;
  max-width: 1200px;
}

img {
  height: 75px;
  width: 100px;
}

.burger-menu-button {
  width: 35px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
  align-self: center;
}

.burger-menu-button span {
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.burger-menu-button.open span:nth-child(1) {
  transform: translateY(10.8px) rotate(45deg);
}

.burger-menu-button.open span:nth-child(2) {
  opacity: 0;
}

.burger-menu-button.open span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.dropdown-menu {
  display: none;
}

@media (max-width: 800px) {
  .burger-menu-button {
    display: flex;
  }

  .links-div {
    display: none;
  }

  .dropdown-menu.open {
    display: flex;
    align-self: flex-end;
    padding: 1rem 2rem;
    gap: 0.5rem;
  }

  .dropdown-menu {
    display: none;
  }
}