:host {
  width: 100%;
  max-width: 400px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  background-color: var(--secundary-background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  border-right: 5px solid var(--effect-color);
}

img {
  width: 30px;
  height: 30px;
  align-self: flex-start;
}
