<h2>Explore the World's Most Popular Dog Breeds</h2>

<div class="scroll-div">
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
</div>

<h2>Find news about dogs</h2>

<div class="scroll-div">
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
  <app-dogs-fact></app-dogs-fact>
</div>
