:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: rgb(230, 229, 229);
}

h2 {
  text-align: center;
  align-self: flex-start;
}

.scroll-div {
  display: flex;
  overflow-x: auto;
  width: auto;
  gap: 2rem;
}

app-breed-container,
app-dogs-fact {
  min-width: 400px;
}

.scroll-div::-webkit-scrollbar {
  background-color: white;
  border-radius: 10px;
  height: 8px;
}

.scroll-div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

.scroll-div::-webkit-scrollbar-thumb:hover {
  background-color: rgb(71, 71, 71);
}
