<h2>Explore the World's Most Popular Dog Breeds</h2>

<div class="breeds-div gap-2">
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
</div>
