:host {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--third-background-color);
}

app-breed-container {
  min-width: 400px;
  margin: 2rem 1rem;
}

.scroll-div {
  overflow-x: auto;
  display: flex;
}

.scroll-div::-webkit-scrollbar {
  height: 0;
}

#breedType {
  width: 200px;
}
