:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.breeds-div {
  padding: 2rem;
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  width: 100%;
  flex-shrink: 0;
}

h2 {
  width: 50%;
  color: white;
  text-align: center;
  padding: 2rem;
}

/* Scrollbar styles */
.breeds-div::-webkit-scrollbar {
  width: 12px;
  height: 6px;
}

.breeds-div::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.breeds-div::-webkit-scrollbar-thumb {
  background-color: rgb(74, 74, 74);
}

.breeds-div::-webkit-scrollbar-thumb:hover {
  background-color: black;
}
