<br />

<h2>Popular</h2>
<div class="scroll-div flex">
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
</div>

<br />

<div class="flex gap-1">
  <h2>Filter</h2>
  <select id="breedType" name="breedType">
    <option value="" disabled selected>Select a breed type</option>
    <option value="herding">Herding</option>
    <option value="working">Working</option>
    <option value="sporting">Sporting</option>
    <option value="toy">Toy</option>
    <option value="hound">Hound</option>
    <option value="terrier">Terrier</option>
    <option value="non-sporting">Non-Sporting</option>
  </select>
</div>

<div class="scroll-div">
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
</div>

<br />

<h2>Most liked</h2>

<div class="scroll-div">
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
  <app-breed-container></app-breed-container>
</div>
